@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section BackgroundImage {
    <style>
        .bodyStyle {
            background-image: url('Images/UntitledbgCamera.png') !important;
        }
    </style>
}

<div class="bg-feeds">
    <div id="cameraFeedExit" class="justify-content-center text-center">
        <video id="video" width="900" height="700" class="videoStyle" autoplay></video>
    </div>
    <div id="resultDivExit" class="justify-content-center text-center mt-3">

    </div>
</div>
